{% extends "attendant/base_generic.html" %}

{% block content %}


  <p><strong>لیست غیبت ها ی امروز: </strong></p>

  {% if absent_today_list %}

  <table border='1'>
  <tr>
    <th>ردیف</th>
    <th>تاریخ</th>
    <th>نوع غیبت</th>
    <th>کد ملی</th>
    <th>ارسال پیام</th>
  </tr>
    {% for absent in absent_today_list %}
  <tr>
    <td><strong>{{ forloop.counter }} </strong></td>
    <td>{{ absent.absent_date }}</td>
    <td>{{ absent.absent_type }}</td>
    <td><a href="{{ absent.student.get_absolute_url }}">{{ absent.student}}</a></td>
    <td><form method="POST">
        {% csrf_token %}
          <input type="submit" name="btn" value="ارسال">
            </form></td>
  </tr>
    {% endfor %}
  </table>
  {% endif %}
  <hr/>
  <p><strong>لیست غیبت ها ی دیروز: </strong></p>

  {% if absent_today_list %}

  <table border='1'>
  <tr>
    <th>ردیف</th>
    <th>تاریخ</th>
    <th>نوع غیبت</th>
    <th>کد ملی</th>
    <th>ارسال پیام</th>
  </tr>
    {% for absent in absent_yesterday_list %}
  <tr>
    <td><strong>{{ forloop.counter }} </strong></td>
    <td>{{ absent.absent_date }}</td>
    <td>{{ absent.absent_type }}</td>
    <td><a href="{{ absent.student.get_absolute_url }}">{{ absent.student}}</a></td>
    <td><form method="POST">
        {% csrf_token %}
          <input type="submit" name="btn" value="yes">
            <input type="submit" name="btn" value="no">
            </form></td>
  </tr>
    {% endfor %}
  </table>
  {% endif %}

{% endblock %}
