<!DOCTYPE html>
<html lang="fa">
<head>

  {% block title %}<title>سیسنم انظباطی واو</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">


</head>
<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
      <header class="avatar">
		<img src="../media/majid228.jpg" />
    <h5>{{ user.get_username }}</h5>
  </header>
      <ul class="sidebar-nav">
          <li><a href="/attendant">صفحه نخست</a></li>
          <li><a href="/admin">صفحه مدیر</a></li>
          <li><a href="{% url 'StudentListView' %}">همه دانش آموزان</a></li>
          <li><a href="{% url 'todayAbsent' %}">همه غیبت ها</a></li>
          {% if user.is_authenticated %}
             <li><a href="{% url 'logout'%}?next={{request.path}}">خروج</a></li>
          {% else %}
             <li><a href="{% url 'login'%}?next={{request.path}}">ورود</a></li>
          {% endif %}
  </ul>
      </ul>
     {% endblock %}
      </div>
      <div class="col-sm-10 ">
      {% block content %}{% endblock %}
      </div>
    </div>

  </div>
</body>
</html>
