{% extends "attendant/base_generic.html" %}

{% block content %}


  <hr/>
  <p>شماره موبایل والدین :  <strong><br/>{{ parent_mobile }}</strong> </p>

  <p>لیست غیبت ها : </p>

  <table border='1'>
  <tr>
    <th>ردیف</th>
    <th>تاریخ</th>
    <th>نوع غیبت</th>
  </tr>
  {% for val in absent_tuple_info %}
  <tr>
    <td><strong>{{ forloop.counter }} </strong></td>
    <td>{{ val.0 }}</td>
    <td>{{ val.1 }}</td>
  </tr>
  {% endfor %}
  </table>




<hr>
  <div style="margin-left:20px;margin-top:20px">

  </div>


{% endblock %}
