{% extends "attendant/base_generic.html" %}

{% block content %}

  <hr/>
  <p>شماره موبایل والدین :  <strong><br/>{{ parent_mobile }}</strong> </p>
  <p>لیست غیبت ها : </p>
  {% for absent_info in absent_list %}
  <p><strong>{{ absent_info }} --- </strong> </p>
  {% endfor %}

  <p><strong></strong> </p>
  <p><a href="{% url 'regabsent' student_id %}">ثبت غیبت :</a></p>
    <p><a href="{% url 'reg_today_absent' student_id %}">ثبت غیبت :</a></p>
<hr>
  <div style="margin-left:20px;margin-top:20px">

  </div>


{% endblock %}
