{% extends "attendant/base_generic.html" %}

{% block content %}

  <hr/>

  <p>شماره موبایل والدین :  <strong><br/>{{ parent_mobile }}</strong> </p>

  <p>لیست غیبت ها : </p>
  <table class="table_style">
  <tr>
    <th>ردیف</th>
    <th>تاریخ</th>
    <th>نوع غیبت</th>
  </tr>
  {% for val in absent_tuple_info %}
  <tr>
    <td><strong>{{ forloop.counter }} </strong></td>
    <td>{{ val.0 }}</td>
    <td>{{ val.1 }}</td>
  </tr>
  {% endfor %}
  </table>
{% if perms.attendant.can_add_absent %}
<h3><a href="{% url 'reg_today_absent' student_id %}">ثبت غیبت</a></h3>
{% endif %}



<hr>
  <div style="margin-left:20px;margin-top:20px">

  </div>


{% endblock %}
