<html>
<head>
    <title>Like Post App</title>
</head>
<body>
    <p id="message"></p>
    {% for student in students %}
    <h3>{{ forloop.counter }}) {{ student.id }}</h3>
    <p>{{ student.student_name }} </p>
    <a class="likebutton" id="like{{student.id}}" href="#" data-catid="{{student.id}}">Like</a>
    {% endfor %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <script type="text/javascript">
      $('.likebutton').click(function(){
      var catid;
      catid = $(this).attr("data-catid");
      $.ajax(
      {
          type:"GET",
          url: "likestudent/",
          data:{
                   student_id: catid
          },
          success: function( data )
          {
              $( '#like'+ catid ).remove();
              $( '#message' ).text(data);
          }
       })
  });
</script>
</body>
</html>
