{% extends "attendant/base_generic.html" %}


{% block content %}

<form method="post" action="{% url 'StudentListView' 0 %}">
  {% csrf_token %}
  <select name='filter_field'>
    <option value="0">همه</option>
    {% for key , value in fieldcode_list.items %}
    <option value="{{key}}">{{value}}</option>
    {% endfor %}
  </select>
  <select name='filter_base'>
    <option value="0">همه</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
  </select>
  <input type="submit" value="Select">
</form>
    <h1>لیست دانش آموزان</h1>
    <ul>
      <li><a class="likebase" id="eleven" href="{% url 'StudentListView' base=10 %}" base_cat="10">دهم</a></li>
      <li><a class="likebase" id="eleven" href="{% url 'StudentListView' base=11 %}" base_cat="11">یازدهم</a></li>
      <li><a class="linkbase" id="twelve" href="{% url 'StudentListView' base=12 %}" base_cat="12">دوازدهم</a></li>
      </ul>
    {% if students_list %}
    <table class="table_style">
    <tr>
      <th>ردیف</th>
      <th>کد ملی</th>
      <th>نام و نام خانوادگی</th>
      <th> رشته تحصیلی</th>
    </tr>
    {% for student in students_list %}
    <tr>
      <td><strong>{{ forloop.counter }} </strong></td>
      <td><a href="{{ student.get_absolute_url }}">    {{ student.id }}</a></td>
      <td>{{ student.student_name }}</td>
      <td>{{ student.studyfield_name }}</td>
    </tr>
    {% endfor %}
    </table>
    {% else %}
      <p>هیچ دانش آموزی ثبت نشده</p>
    {% endif %}
    <ul>



{% endblock %}
